.home__rotator__wrapper {
    padding: 26px !important;
}

.home__rotator {
    width: 100%;
    height: auto;
    position: relative;
    bottom: 5px;
}

.home__cubes__wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.home__cubes__wrapper > a {
    width: 25%;
    height: auto;
    margin: 0 !important;
    padding: 0 !important;
}

.home__cubes__wrapper > a > img {
    width: 100%;
    height: auto;
}

.home__footer__plank {
    width: 100%;
    height: auto;
}

.footer__wrapper {
    text-align: center;
}

@media (max-width: 767px) {
    .home__cubes__wrapper {
        display: flex;
        flex-direction: row;
        width: 75%;
        flex-wrap: wrap;
    }

    .home__cubes__wrapper > a {
        width: 50%;
        height: auto;
        margin: 0 !important;
        padding: 0 !important;
    }

    .home__footer__plank {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .home__wrapper {
        margin: 10px !important;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .home__wrapper {
        margin: 10px !important;
        display: flex;
        justify-content: center;
    }

    .home__rotator__wrapper {
        background-image: url(/img/HeaderImage_background.png);
        background-repeat: no-repeat;
    }

    .home__cubes__wrapper {
        margin-top: 5px;
        margin-right: 5px;
        margin-left: 5px;
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
    }
}

@media (min-width: 1201px) {
    .home__wrapper {
        margin: 10px !important;
        display: flex;
        justify-content: center;
    }

    .home__rotator__wrapper {
        background-image: url(/img/HeaderImage_background.png);
    }

    .home__cubes__wrapper {
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
    }
}
